@font-face {
    font-family: 'Jaldi';
    src: url('/fonts/Jaldi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/fonts/PlayfairDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
}

:root {
    --font-title: 'PlayfairDisplay', Arial, sans-serif;
    --font-body: 'Jaldi', Arial, sans-serif;
    --font-weight: 400;
    --font-size: 1.5rem;
    --font-size-h1: 3rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 2.25rem;
    --font-size-h4: 2rem;
    --font-size-h5: 1.75rem;
    --font-size-h6: 1.5rem;
    --font-size-caption: 1rem;
    
    --border-radius: 6px;
    --border-weight: 0.038em;
    
    --color-bg: #161616;
    --color-bg-hi: #1F1F1F;
    --color-bg-lo: #0D0D0D;

    --color-accent: #f27a4b;
    --color-accent-hi: #ea7b4f;
    --color-accent-lo: #e06f43;

    --color-accent2: #030C21;

    --color-typography: #D0D0D0;

    --color-border: #3D3D3D;
    --color-border-hi: #474747;
    --color-border-lo: #272727;

    --gap-sm: 0.25em;
    --gap-md: 0.375em;
    --gap-lg: 0.75em;
    --gap-xl: 1.5em;
    --gap-xxl: 2.25em;
}

body {
    display: block;

    /* NOTE: Background and color are set in the critical styles in the index.html*/

    font-family: var(--font-body);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: var(--font-weight);
    margin: 0;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xl);
    width: 100%;
    min-height: 120vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xxl);
    width: 100%;
    min-height: 95vh;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xl);
    width: 100%;
    min-height: 50vh;
    text-align: center;
}

footer > *:nth-child(2) {
    width: 90%;
}

.caption {
    font-size: var(--font-size-caption);
}

.stack {
    display: flex;
    flex-direction: column;
}

.group {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-xl {
    gap: var(--gap-xl);
}

.gap-lg {
    gap: var(--gap-lg);
}

.gap-sm {
    gap: var(--gap-sm);
}

.priority {
    z-index: 10;
}

.gradient {
    background: linear-gradient(var(--color-accent2) 30%, 90%, #00000000);
    border-radius: var(--border-radius);
}

#flashlight {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: radial-gradient(circle farthest-side, var(--color-typography) 10%, var(--color-bg));
    mix-blend-mode: lighten;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#flashlight.visible {
    display: block;
    animation: flashlight 1s ease-in-out;
    opacity: .115;
}

.divider {
    width: 100%;
    min-height: 40vh;
}

.monitor-and-keyboard > * {
    width: min(512px, 65vw);
}

.monitor-and-keyboard > *:nth-child(1) {
    transform: translate(min(-200px, -5vw));
}

.monitor-and-keyboard > *:nth-child(2) {
    transform: translate(min(300px, 10vw));
}

.root-container {
    gap: var(--gap-xxl);
}

.site-header {
    position: relative;
    width: 100%;
}

.site-header > * {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    
    /* Appear animation will set this to visible */
    opacity: 0;
}

/* This is the site title with my name on it */
.site-header > *:nth-child(1) {
    top: 40%;
    left: 50%;
    
    animation: appear 1s forwards;
    animation-delay: 0s;
}

.site-header > *:nth-child(2) {
    top: 22.5%;
    left: 25%;
    height: clamp(200px, 20vw, 400px);
    width: clamp(200px, 20vw, 400px);
}

.site-header > *:nth-child(3) {
    top: 30%;
    left: 77%;
    height: clamp(100px, 12.5vw, 200px);
    width: clamp(100px, 12.5vw, 200px);
}

.site-header > *:nth-child(4) {
    bottom: 17%;
    right: 45%;
    height: clamp(100px, 17.5vw, 300px);
    width: clamp(100px, 17.5vw, 300px);
}

.site-header > *:nth-child(5) {
    left: 45%;
    bottom: 15%;
    transform: translate(-50%, -50%);
    rotate: 45deg;
}

.skill-sectors {
    position: relative;
    width: 100%;
    max-width: 1700px;
    gap: var(--gap-xxl);
}

.skill-sectors > * {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill-sectors > *:nth-child(1) {
    top: 5%;
    left: 50%;
}

.skill-sectors > *:nth-child(2) {
    top: 40%;
    left: 75%;
}

.skill-sectors > *:nth-child(3) {
    top: 40%;
    left: 25%;
}

.skill-sectors > *:nth-child(4) {
    bottom: 5%;
    left: 52%;
}

.skill-sector {
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: var(--gap-sm);
    border-left: var(--border-weight) solid var(--color-border);
    padding: var(--gap-md);
}

.skill-sector-title {
    display: flex;
    gap: var(--gap-md);
}

.experiences {
    flex-wrap: wrap;
    max-width: 90%;
    gap: var(--gap-lg);
}

.no-link-styling {
    text-decoration: none;
    color: inherit;
}

.no-link-styling > * {
    text-decoration: none;
    color: inherit;
}

.experience {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    border: var(--border-weight) solid var(--color-border);
    border-radius: var(--border-radius);
    padding: var(--gap-xxl) var(--gap-xl) var(--gap-xl) var(--gap-xl);
    max-width: 370px;
    min-height: 640px;
    box-sizing: border-box;
    animation: gradient-disappear 1s forwards;
}

.experience-job-title {
    color: var(--color-accent-lo)
}

.experience-call-to-action {
    color: var(--color-accent-hi);
}

.animate-hover {
    animation: hover-reverse 0.5s forwards, gradient-disappear 1s forwards;
    transition: background-color 0.5s linear;
}

.animate-hover:hover {
    animation: hover 0.5s forwards, gradient-appear 1s forwards;
    background-color: var(--color-bg-hi);
}

.animate-appear {
    animation: appear 1s forwards;
    animation-delay: 0s;
}

@keyframes hover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-4px); }
}

@keyframes hover-reverse {
    0% { transform: translateY(-4px); }
    100% { transform: translateY(0); }
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes flashlight {
    0% { opacity: 0; }
    100% { opacity: .115; }
}

@media (width <= 1200px) {
    footer {
        justify-content: center;
            
    }

    .site-header > *:nth-child(2) {
        top: 25%;
        left: 30%;
    }
    
    .site-header > *:nth-child(3) {
        top: 40%;
        left: 82.5%;
    }
    
    .site-header > *:nth-child(4) {
        left: 25%;
        bottom: 30%;
    }

    .site-header > *:nth-child(5) {
        width: 120px;
    }

    .skill-sectors {
        height: auto;
    }

    .skill-sectors > * {
        position: static;
        left: auto;
        transform: none;
    }

    .skill-sector {
        width: 90%;
    }

    .experiences {
        gap: var(--gap-xxl);
    }

    .experience {
        min-height: auto;
        max-width: none;
    }

    .monitor-and-keyboard > *:nth-child(1) {
        transform: translate(-60px);
    }
    
    .monitor-and-keyboard > *:nth-child(2) {
        transform: translate(60px);
    }

    #flashlight.visible {
        opacity: 0;
        animation: none;
    }
}