@font-face{
  font-family: "Jaldi";
  src:local("Jaldi-Regular"),
  url('./assets/fonts/Jaldi/Jaldi-Regular.ttf') 
}

:root {
  --bg-default: #212121;
  --bg-dark: #1D1D1D;
  --bg-light: #292929;

  --accent-default: #C4FF00;
  --accent-dark: #D8FF58;
  --accent-light: #B0E700;

  --typography-default: #FFFFFF;

  --border-default: #3D3D3D;
  --border-dark: #2D2D2D;
  --border-light: #4D4D4D;

  --border-radius: 6px;
  --border: 0.6px solid var(--border-default);

  --heading-1-font-size: 6em;
  --heading-2-font-size: 4em;
  --heading-3-font-size: 3em;
  --heading-4-font-size: 2.5em;
  --heading-5-font-size: 2.25em;
  --heading-6-font-size: 2em;
  --body-font-size: 1.5em;
  --caption-font-size: 1em;

  font-family: Jaldi, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: --typography-default;
  background-color: --background-default;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--heading-1-font-size);
}

h2 {
  font-size: var(--heading-2-font-size);
}

h3 {
  font-size: var(--heading-3-font-size);
}

h4 {
  font-size: var(--heading-4-font-size);
}

h5 {
  font-size: var(--heading-5-font-size);
}

h6 {
  font-size: var(--heading-6-font-size);
}

p {
  font-size: var(--body-font-size)
}

a {
  font-weight: 500;
  color: var(--accent-default);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-light)
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: var(--border-radius);
  border: var(--border);
  font-size: var(--body-font-size);
  font-weight: 500;
  background-color: var(--accent-default);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-light);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
