@font-face {
    font-family: 'Jaldi';
    src: url('fonts/Jaldi') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/PlayfairDisplay') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-title: 'PlayfairDisplay', 'Jaldi', Arial, sans-serif;
    --font-body: 'Jaldi', 'PlayfairDisplay', Arial, sans-serif;
    
    --border-radius: 6px;
    --border-weight: 0.038em;
    
    --color-bg: #161616;
    --color-bg-hi: #1F1F1F;
    --color-bg-lo: #0D0D0D;

    --color-accent: #C4FF00;
    --color-accent-hi: #D8FF58;
    --color-accent-lo: #B0E700;

    --color-accent2: #030C21;

    --color-typography: #D0D0D0;

    --color-border: #3D3D3D;
    --color-border-hi: #474747;
    --color-border-lo: #272727;

    --gap-sm: 0.25em;
    --gap-md: 0.375em;
    --gap-lg: 0.75em;
    --gap-xl: 1.5em;
    --gap-xxl: 2.25em;
}


h1 h2 h3 h4 h5 h6 {
    font-family: var(--font-title);
}

body {
    font-family: var(--font-body);
}

